.Posts
    padding-top: 30px
    padding-bottom: 30px
    display: flex
    flex-direction: column
    align-items: center
    margin: auto
    &__btn
        width: 63%
        height: 55px
        border: 0
        outline: 0
        border-radius: 10px
        font-size: 20px
        font-size: 18px
        color: #ffffff
        font-weight: 300
        background: linear-gradient(to right, #4afba9, #00b09b)
    &__title
        margin-bottom: 20px
        text-align: center
        font-size: 30px
        color: #222222
        font-weight: 700
        text-transform: uppercase
    &__wrap
        margin: 50px auto
        display: flex
        align-items: center
        gap: 10px
        color: #222222
        &__send
            width: 100%
            position: relative
            height: 50px
            display: block
            box-sizing: border-box
            outline: 0
            border: 0
            border-radius: 10px
            background: #dddbdb    
            padding: 0 20px
            font-size: 20px  
        
            