.content
    display: block
    &__img
        display: block
        width: auto
        height: 230px
        padding: 30px 50px
        border-radius: 14px
        background: radial-gradient(circle, #00b09b79, #00b09bc0, #4afba9, #00b09bd0, #00b09b4c)
        margin: 0px auto
        opacity: .9
        &__item
            display: block
            margin: auto
            height: 230px
            width: 100%
            border-radius: 14px
            max-height: 100%
            max-width: 100%
            object-fit: cover
            object-position: 100%  100%
.wrap 
    margin-top: 30px
    display: flex
    align-items: center
.Checkbox 
    display: flex
    align-items: center
    &__item
        cursor: pointer
        border: 0
        outline: 0
        height: 40px
        background: #FFFFFF
        border-radius: 22px
        width: 100%
    &__label
        display: flex
        align-items: center
        white-space: nowrap
        width: 100%
        font-size: 18px
        letter-spacing: .8px
        font-weight: 400
        color: #333
.profileInfo
    display: flex
    flex-direction: column
    justify-content: center
    background: rgb(228, 228, 228)
    height: auto    
    &__wrap
        display: block
        padding: 30px 30px 0 30px
    &__contact
        display: flex
        align-items: center
        padding-left: 10px
        margin-bottom: 10px
        &:first-child
            margin-top: 120px
        &__item
            display: flex
            align-items: center
            flex-wrap: nowrap
            white-space: nowrap
            word-break: nowrap
            &__right
                
                font-weight: 400
                margin-left: auto
                text-align: right
                padding-left: 10px
        &__img
            max-height: 24px
            min-height: 24px
            max-width: 24px
            min-width: 24px
            display: flex
            align-items: center
            cursor: pointer
            margin-bottom: 15px
            padding-left: 10px
            margin-left: auto
            &__item
                max-height: 24px
                min-height: 24px
                max-width: 24px
                min-width: 24px
                display: block
    &__descr
        width: 100%
        box-sizing: border-box
        display: flex
        align-items: center
        padding-top: 60px
        padding-bottom: 60px
        &__form
            display: flex
            flex-direction: column
            &__wrap
                display: flex
                flex-direction: column
            &__title
                margin: 20px 0
                font-size: 22px
                font-weight: 700
                color: #333
            &__input
                box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px
                border: 0
                padding: 0 14px
                width: 240px
                height: 40px
                border-radius: 5px
            &__btn
                box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 2px
                display: block
                width: 100%
                margin: auto
                font-size: 17px
                color: #333
                width: 240px
                height: 40px
                padding: 0 10px
                letter-spacing: 1px
                border-radius: 4px
                border: 0
                margin-top: 20px
        &__common
            display: block

        &__wrap
            display: flex
            flex-direction: column
            max-width: 300px
            min-width: 300px
            &__item
                display: flex
                flex-direction: column
        &__label
            box-sizing: border-box
            color: #0e0a0a
            font-size: 19px
            font-weight: 500
            margin: 0 auto
            margin-top: 20px
            cursor: pointer
            height: 60px
            width: 100%
            text-align: center
            &__span
                display: none
        &__input
            opacity: 0
            position: absolute
            z-index: -1
        &__photo
            cursor: pointer
            text-decoration: none
            display: block
            width: 300px
            height: 300px
            max-width: 300px
            min-width: 300px
            max-height: 300px
            min-height: 300px
        &__img
            display: block
            border-radius: 17px
            width: 300px
            height: 300px
            max-width: 300px
            min-width: 300px
            max-height: 300px
            min-height: 300px
            outline: none
            text-decoration: none
            border: none
            -webkit-border: 0
        &__item
            line-height: 35px
            display: flex
            justify-content: center
            align-items: flex-start
            flex-direction: column
            font-family: 'monospace', sans-serif
            text-align: left
            overflow-wrap: break-word
            word-wrap: break-word
            -webkit-hyphens: auto
            -ms-hyphens: auto
            hyphens: auto
            margin: 0 auto
        &__text
            min-height: 50px
            display: flex
            align-items: center
            margin-bottom: 20px
            font-size: 48px
            font-weight: 900
            text-transform: uppercase
            font-family: 'Yomogi', cursive
          
        &__subtext  
            max-width: 700px
            line-height: 34px
            text-align: left
            font-size: 19px
            font-weight: 700
            color: #333
            margin-bottom: 14px
            &:first-child
            &__wrap
                margin-bottom: 16px
            &__span 
                font-weight: 300
                margin-left: 10px
                color: #0e0a0a
                font-size: 19px
              
            &__def
                color: #807f7f
                font-family: 'Yomogi', cursive
                font-size: 19px
                font-weight: 300
            &__input
                padding: 10px
                border: 0
                width: 100%
                height: 26px
                border-radius: 7px
                font-size: 22px
                font-weight: 400
                font-family: 'Ubuntu' serif

.profileInfo__descr__img:not([src]) 
    outline: none
    text-decoration: none
    border: none
    -webkit-border: 0
    display: none

.error
    margin-top: 20px
    padding: 10px 15px
    color: #fff
    background: #b63a3a
    font-size: 18px
    font-weight: 400
    letter-spacing: 0.8px
@media screen and (max-width: 992px) 

    .content
        margin: auto


@media screen and (max-width: 680px) 

    .profileInfo__descr__text
        font-size: 40px

    .profileInfo__descr__item
        padding-left: 18px

@media screen and (max-width: 600px) 

    .profileInfo__descr
        display: block
        margin: 0 auto
        &__item
            line-height: 130px
        &__subtext
            line-height: 50px
            margin: auto
            text-align: center
        &__photo
            margin: auto
        &__text
            text-align: center
            margin: auto

    
  